@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

@import "tailwindcss";

body {
	background-color: black;
	color: white;
	font-family: 'Geist', sans-serif;
}

@theme {
	--font-bruno: "Bruno Ace SC", sans-serif;
	--font-press: "Press Start 2P", sans-serif;
	--font-aldrich: "Aldrich", sans-serif;
	--font-jokey: "Jockey One", sans-serif;
	--font-geist: "Geist", sans-serif;
	--color-primary: #00b4d8;
	--color-gray-hard: #272727;
	--color-primary-hard: #023e8a;
	--breakpoint-3xl: 120rem;
	--color-avocado-100: oklch(0.99 0 0);
	--color-avocado-200: oklch(0.98 0.04 113.22);
	--color-avocado-300: oklch(0.94 0.11 115.03);
	--color-avocado-400: oklch(0.92 0.19 114.08);
	--color-avocado-500: oklch(0.84 0.18 117.33);
	--color-avocado-600: oklch(0.53 0.12 118.34);
	--ease-fluid: cubic-bezier(0.3, 0, 0, 1);
	--ease-snappy: cubic-bezier(0.2, 0, 0, 1); /* ... */
}
